<%= javascript_include_tag 'rails_emoji_picker' %>

<% comments.each do |comment| %>
  <div class="d-flex justify-content-center py-2">
    <div class="second py-2 px-2">
      <div class="d-flex justify-content-between py-1 pt-2">
        <span class="text3"><%= comment.user.name %></span><span class="text3"><%= comment.decorate.created_at %></span>
      </div>
      <% if comment.image.present? %>
        <div class="">
          <% if comment.user_comment_id == current_user.id %>
            <div class="text-end">
              <span class="btn" onclick="Comment.removeimageComment(<%= comment.id %>)">X</span>
            </div>
          <% end %>
          <img class="rounded w-100" src="<%= url_for(comment.image) %>" style="object-fit: cover;">
        </div>
      <% end %>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fs-4 show-comment-<%= comment.id %>"><%= comment.comment %></span>
        <% if current_user.id == comment.user_comment_id %>
          <div class="btn-edit-delete-comment-<%= comment.id %>">
            <div class="btn btn-show-comment" onclick="$('#showEditComment-<%= comment.id %>').modal('show')">
              <%= image_tag 'bursh.svg' %>
            </div>
            <div class="btn btn-delete-comment" onclick="Comment.deleteComment('<%= comment.id %>')">
              <%= image_tag 'trash.svg' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="modal fade" id="showEditComment-<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="top: 30%">
        <div class="modal-content">
          <div class="modal-body">
            <form class="form-comment-<%= comment.id %>">
              <input type="hidden" name="comment[id]" value="<%= comment.id %>">
              <input type="hidden" name="comment[post_id]" value="<%= comment.post_id %>">
              <p class="emoji-picker-container w-100">
                <input type="text" value="<%= comment.comment %>" class="form-control" name="comment[comment]" data-emojiable="true">
              </p>
              <div class="d-flex justify-content-between mt-3">
                <input type='file' name="comment[image]" id="file-upload-<%= comment.id %>">
                <div>
                  <div class="btn" onclick="Comment.updateComment('<%= comment.id %>')">
                    <%= image_tag 'send.svg' %>
                  </div>
                  <div class="btn d-none btn-cancel-edit-comment" onclick="$('#showEditComment-<%= comment.id %>').modal('hide')">
                    <%= image_tag 'trash.svg' %>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
