<%= stylesheet_link_tag 'post_comments' %>
<%= javascript_pack_tag "comment_post" %>

<div class="container mt-4">
  <div class="row gx-5">
    <div class="col-lg-4 mb-5 mb-lg-0" style="min-height: 300px;">
      <div class="">
        <img class="card-img-top rounded" src="<%= url_for(@post.image) unless @post.image.blank? %>" onerror="this.onerror=null; this.src='<%= asset_path('default.png')%>'" style="object-fit: cover;">
      </div>
      <form id="form-comment" class="form-comment mt-4">
        <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
        <p class="emoji-picker-container w-100">
          <input type="text" name="comment[comment]" class="form-control" data-emojiable="true">
        </p>
        <input type="file" name="comment[image]" id="image-comment" class="form-control">
        <div class="btn btn-primary mt-3" id="btn-submit-comment">Comment</div>
      </form>
      <div class="container justify-content-center mt-2 mb-4 bg-light border-left border-right" id="show-comments">
        <%= render partial: 'post_comments/show_list_comment', locals: { comments: @comments } %>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="border-start border-5 border-primary ps-3 mb-5 text-break">
        <h3 class="display-6 text-uppercase mb-0"><%= @post.title %></h3>
      </div>
      <h4 class="text-body mb-4 text-break"><%= @post.description.html_safe %></h4>
      </div>
    </div>
  </div>
</div>
